{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $dateFormatted := .Date | time.Format "2 January 2006" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "January" "janvier" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "February" "février" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "March" "mars" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "April" "avril" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "May" "mai" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "June" "juin" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "July" "juillet" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "August" "août" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "September" "septembre" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "October" "octobre" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "November" "novembre" -}}
{{- $dateFormatted = $dateFormatted | replaceRE "December" "décembre" -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) $dateFormatted)) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . " · " | safeHTML -}}
{{- end -}}
